<nav id="navbar">
    <div class="container">
        <h1 class="logo">ATH</h1>
        <ul>
            <!-- class="current" style="border: 1px solid #FA8704;"" -->
            <a href="index"><li>Home</li></a>
            <a href="about"><li>About</li></a>
            <a href="contact"><li>Contact</li></a>
        </ul>
    </div>
</nav>
