<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artisan House</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('partials/header'); %>
    <div class="about-info">
        <div class="container">
            <div class="info-left">
                <h1>About <span class="text-primary">Artisan House</span></h1>

                <p>&emsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique itaque dolorem doloremque id, voluptatem cumque cupiditate suscipit omnis sunt ad aperiam ducimus quibusdam sequi ab! Fugiat odit, quia harum beatae obcaecati id ipsam maiores amet fuga expedita, dicta eveniet distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, deserunt ipsam! Minima velit dolorum nihil corporis, iure minus repellat alias ab molestias quisquam tempore voluptatum pariatur nulla. Vel, ratione delectus?</p>

                <p>&emsp;  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique itaque dolorem doloremque id, voluptatem cumque cupiditate suscipit omnis sunt ad aperiam ducimus quibusdam sequi ab! Fugiat odit, quia harum beatae obcaecati id ipsam maiores amet fuga expedita, dicta eveniet distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, deserunt ipsam! Minima velit dolorum nihil corporis, iure minus repellat alias ab molestias quisquam tempore voluptatum pariatur nulla. Vel, ratione delectus?</p>
            </div>
            <div class="info-right">
                <img src="css/img/home-info.jpg" alt="">
            </div>
        </div>
    </div>
<div class="testimonial">
    <div class="container">
        <h1>What Our Guests Says</h1>
        <div class="testimonial-box">
            <img src="css/img/woman-edit.jpg" alt="">
            <h2>Name</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati sint totam possimus itaque ea quasi odio quidem, voluptatum earum aspernatur iste blanditiis repellendus provident alias adipisci quisquam repellat saepe iusto?</p>
        </div>
        <br>
        <div class="testimonial-box">
            <img src="css/img/man-edit.jpg" alt="">
            <h2>Name</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati sint totam possimus itaque ea quasi odio quidem, voluptatum earum aspernatur iste blanditiis repellendus provident alias adipisci quisquam repellat saepe iusto?</p>
        </div>
    </div>
</div>
    <%- include('partials/footer') %>
</body>
</html>