<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artisan House</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <%- include('partials/header'); %>
    <div class="container" style="text-align: center;">
        <h1><span class="text-primary">your message sent succsuccessfully</span></h1>
        <h1><span class="text-primary">We will reponse you as soon as possible</span></h1>
    </div>
   
        <%- include('partials/footer') %>
</body>

</html>